<section class="about_section layout_padding">
    <div class="container">
    <div class="row">
        <div class="col-md-6">
        <div class="img-box">
            <img src="{{ url_for('static', filename='images/telemedcine.svg') }}" alt="telemedicine_image" class="img-fluid">
            
        </div>
        </div>
        <div class="col-md-6">
        <div class="detail-box">
            <div class="heading_container">
            <h2>
                About HealthConnect
            </h2>
            </div>
            <p>
            Health Connect is an innovative telemedicine system with a mission to improve healthcare accessibility by combining biomedical sensors, artificial intelligence, and real-time remote consultation. The system is comprised of a comprehensive health monitoring station capable of recording key physiological parameters such as ECG, blood oxygen level (SpO2), blood pressure, body temperature, body mass index (BMI).
            </p>
            <p>
            The information is securely sent to an integrated web platform where AI algorithms analyze the inputs, detect anomalies, and provide preliminary recommendations. In critical cases, patients are routed to live video consultations with health specialists, who can monitor and analyze the vital signs in real time. The platform provides interactive data visualization, appointment scheduling, instant messaging, and personalized health tracking.
            </p>
            <p>
            In addition, Health Connect also offers access to nearby pharmacies and hospitals via an incorporated map interface, making it a single point of contact for both standard and emergency telemedicine services. The project is a step towards digital health development, particularly for patients in remote or rural areas.</p>
        </div>
        </div>
    </div>
    </div>
</section>