<section class="contact_section">
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-lg-6">
          <div class="form_container">
            <div class="heading_container">
              <h2>
                Contact
              </h2>
            </div>
            <form action="">
              <div>
                <input type="text" placeholder="Your Name" />
              </div>
              <div>
                <input type="text" placeholder="Phone" />
              </div>
              <div>
                <input type="email" placeholder="Email" />
              </div>
              <div>
                <input type="text" class="message-box" placeholder="Message" />
              </div>
              <div class="btn_box">
                <button>
                  Send
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-5 col-lg-6">
          <div class="subscribe-box">
            <h3>
                follow us
            </h3>
            <p>
                Subscribe to our newsletter to receive the latest news and updates from our team. Stay informed about our services, promotions, and more!
            </p>
            <form action="">
              <input type="email" placeholder="Entrez votre email">
              <button>
                follow
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>