<!-- info section -->
<section class="info_section">
    <div class="container">
      <div class="row info_main_row">
        <div class="col-md-6 col-lg-3">
          <div class="info_insta">
            <h4>
              <a href="/" class="navbar-brand m-0 p-0">
                <span>
                  HealthConnect
                </span>
              </a>
            </h4>
            <p class="mb-0">
              "Living Well Everyday" - Health Connect is an innovative telemedicine system with a mission to improve healthcare accessibility by combining biomedical sensors, artificial intelligence, and real-time remote consultation.
            </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="info_detail">
            <h4>
              Our Expertise
            </h4>
            <p class="mb-0">
              our system is designed to provide a comprehensive health monitoring solution, integrating advanced biomedical sensors and AI algorithms for real-time analysis and remote
            </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <h4>
            Contact
          </h4>
          <div class="info_contact">
            <a href="">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <span>
                Casablanca, MOROCCO
              </span>
            </a>
            <a href="">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span>
                Appel +212 XXXXXXXXX
              </span>
            </a>
            <a href="">
              <i class="fa fa-envelope"></i>
              <span>
                support@healthconnect.ma
              </span>
            </a>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <h4>
            follow us
          </h4>
          <div class="social_box">
            <a href="#">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="#">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="#">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
            <a href="#">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end info_section -->