<section class="slider_section position-relative">

    <div id="customCarousel1" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">

        <div class="carousel-item active">
          <div class="img_container">
            <div class="img-box">
              <img src="{{ url_for('static', filename='images/maintenance-hero.png') }}" class="" alt="Maintenance Management System">
              
            </div>
          </div>
        </div>

        <div class="carousel-item ">
          <div class="img_container">
            <div class="img-box">
              <img src=" {{ url_for('static', filename='images/iot-slider1.png') }}" class="" alt="Solutions IoT">
            </div>
          </div>
        </div>


        <div class="carousel-item ">
          <div class="img_container">
            <div class="img-box">
              <img src="{{ url_for('static', filename='images/iot-slider2.png') }}" class="" alt="Solutions IoT">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="detail-box">
      <div class="col-md-8 col-lg-6 mx-auto">
        <div class="inner_detail-box">
          <h1>
            Health Connect
          </h1>
          <p>
            <span style="font-style: italic; font-size: 0.8em;">Living Well Everyday</span>
            <p>
            HealthConnect: A Telemedicine Solution for Continuous Vital Signs Monitoring and Remote Consulting
            </p>
          </p>
          <div>
            <a href="./admin/ltr/index.php" class="slider-link">
              Login
            </a>
            <a href="./registration.php" class="slider-link">
              Register
            </a>
          </div>
        </div>
      </div>
    </div>

</section>