<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description"  content="k">
    <meta name="robots" content="noindex,nofollow">
    <title>HealthConnect | Register</title>
    <link rel="canonical" href="https://www.wrappixel.com/templates/niceadmin-lite/" />
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='assets/images/favicon.png')}}">
    
    <!-- Custom CSS -->
    <link href="{{url_for('static', filename='dist/css/style.min.css')}}" rel="stylesheet"> 
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

    <!-- Font Icon -->
    <link rel="stylesheet" href="{{url_for('static', filename='fonts_sign/material-icon/css/material-design-iconic-font.min.css')}}"> 

    <!-- Main css -->
    <link rel="stylesheet" href="{{url_for('static', filename='css_sign/style.css')}}"> 
</head>

<body>

    <div class="main">
        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Register</h2>
                        <form method="POST" class="register-form" id="register-form" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="name" id="name" placeholder="Votre Nom Complet"required/>
                            </div>

                            <div class="form-group">
                                <label for="image"><i class="zmdi zmdi-photo-size-select-large"></i></label>
                                <input type="file" id="newProfileImage" name="newProfileImage" accept="image/*" required/>
                            </div>
                            <div class="form-group">
                                <label for="phone"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="phone" id="phone" placeholder="Votre Numéro de télephone"/>
                            </div>
                            <div class="form-group">
                                <label for="address"><i class="zmdi zmdi-email"></i></label>
                                <input type="text" name="address" id="address" placeholder="votre ville et votre pays"/>
                            </div>
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                <input type="email" name="email" id="email" placeholder="Votre Email"/>
                            </div>
                            <div class="form-group">
                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="pass" id="pass" placeholder="Mot de passe"/>
                            </div>
                            <div class="form-group">  
                                <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                                <label for="agree-term" class="label-agree-term"><span><span></span></span>J'accepte toutes les déclarations dans Conditions d'utilisation</label>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Registre"/>
                            </div>
                            <h6 href="#" class="signup-image-link">Tous droits réservés par <a href="#">HealthConnect</a> - Living Well Everyday</h6>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="{{url_for('static', filename='images/signup-image.jpg')}}" alt="sing up image"></figure> 
                        <a href="{{url_for('login')}}" class="signup-image-link">je suis déjà membre</a>
                    </div>
                </div>
            </div>
        </section>
    </div>


</body>

</html>